body , html {
	height: 100%;
}

body {
	background: url('../images/back.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Slackey', cursive;
}

.wrapper {
	height: 100%;
}

.play-area {
	text-align: center;
	background: rgba(255,229,137,0.9);
	margin: auto;
	min-height: 80%;
	width: 75%;
	padding: 20px;
}

#title {
	text-align: center;
	padding: 20px;
	color: rgba(85,191,242, 1);
	font-size: 52px;
}

#timer {
	font-size: 36px;
}

#start , .restart {
	border: 1px solid black;
	padding: 5px; 
	margin: auto;
}

#start:hover {
	cursor: pointer;
	transform: translateY(-2%);
	box-shadow: 1px 1px 5px black;
}

#question {
	color: rgba(255,113,31, 1);
	font-size: 36px;
}

.options {
	width: 400px;
	padding: 10px;
	border: 1px solid black;
	margin: 20px auto;
}

.options:hover {
	background: rgba(0, 200, 0, 0.2);
	cursor: pointer;
	transform: translateY(-2%);
	box-shadow: 1px 1px 5px black;
}

.restart:hover {
	cursor: pointer;
	transform: translateY(-2%);
	box-shadow: 1px 1px 5px black;
}
